* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.spring,
.summer,
.autumn,
.winter {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.spring {
  background-image: url('./images/spring-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.summer {
  background-image: url('./images/summer-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.autumn {
  background-image: url('./images/autumn-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.winter {
  background-image: url('./images/winter-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
